@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Athletics';
    src: url('/fonts/Athletics-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'dlig' on, 'ss01' on, 'ss02' on, 'ss04' on;
  }
  
  @font-face {
    font-family: 'Athletics';
    src: url('/fonts/Athletics-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    size-adjust: 100%;
  }

  @font-face {
    font-family: 'Athletics';
    src: url('/fonts/Athletics-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    text-rendering: optimizeLegibility;
  }
  
  @font-face {
    font-family: 'Athletics';
    src: url('/fonts/Athletics-BoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    font-feature-settings: 'dlig' on, 'ss01' on, 'ss02' on, 'ss04' on;
  }

  body, .prose p, .prose a {
    @apply font-sans text-base lg:text-lg xl:text-xl leading-normal text-black dark:text-paper tracking-wide;
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'dlig' on, 'ss01' on, 'ss02' on, 'ss04' on;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  
  h1, h2, h3, h4,
  .prose h1, .prose h2, .prose h3, .prose h4  {
    @apply font-bold leading-snug text-black dark:text-paper;
  }
  
  h1, .prose h1 {
    @apply text-3xl lg:text-5xl xl:text-6xl 2xl:text-7xl;
  }

  h2, .prose h2 {
    @apply text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl;
  }

  h3, .prose h3 {
    @apply text-lg lg:text-2xl 2xl:text-3xl;
  }

  h4, .prose h4 {
    @apply text-base lg:text-lg xl:text-xl;
  }
  
  p, blockquote, ul, li, input {
    @apply text-base lg:text-lg xl:text-xl leading-normal;
  }
  
  .prose {
    @apply !max-w-full md:!max-w-[72ch];
  }

  .prose h3 {
    @apply mt-12 mb-2 md:mb-4;
  }
  
  .prose p {
    @apply mt-2 mb-4 first:mt-0;
  }

  .prose img {
    @apply my-4 rounded-xl;
  }

  a{
    @apply underline underline-offset-4 decoration-1 decoration-ink-200 dark:decoration-ink-800 hover:decoration-black hover:dark:decoration-paper;
  }

  .logo {
    @apply no-underline;
  }

  .menu a {
    @apply no-underline relative;
  }

  .menu a:after {
    @apply content-[''] absolute inline-block h-[1px] -bottom-[17px] left-0 right-0 bg-black dark:bg-paper;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in-out;
  }  

  .menu a.active:after,
  .menu a:hover:after {
    transform: scaleX(1);
    transform-origin: left;
  }

  input {
    @apply leading-tight inline-block h-10 lg:h-11;
  }

  .small-text {
    @apply text-sm lg:text-base leading-normal;
  }

  /* Exit */

  .exit {
    @apply fixed flex items-center justify-center bottom-4 left-4 w-10 h-10 lg:w-11 lg:h-11 z-50 bg-white dark:bg-ink-800 hover:scale-110 shadow-xl rounded-full transition-all duration-200 ease-in-out;
  }

  .exit a {
    @apply text-center leading-none no-underline;
  }

  /* Info */
  .mytable {
    @apply grid grid-cols-8 col-start-1 md:col-start-3 col-span-full  gap-0 xs:gap-4;
  }

  .mytable .small-header {
    @apply font-bold col-span-full xs:col-span-1 mt-4 first:mt-0 xs:mt-0;
  }

  .mytable .note {
    @apply col-start-1 col-span-full xs:col-start-3;
  }


  /* Projects */
  .projects-grid {
    @apply grid gap-4 grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 grid-flow-dense w-full h-auto auto-rows-[1fr] grid-rows-[auto];
  }

  .thumbnail {
    @apply relative rounded-xl col-span-1 overflow-hidden;
  }

  .thumbnail-image-container {
    @apply overflow-hidden w-full h-full block contain-size group-hover:scale-[0.96] transition-all duration-[0.2] ease-in-out rounded-xl;
  }

  .thumbnail.small {
    @apply aspect-[16/9] row-span-1;
  }

  .thumbnail.medium {
    @apply row-span-2 ;
  }

  .thumbnail.large {
    @apply row-span-3;
  }

  .thumbnail img {
    @apply w-full h-full object-cover;
  }

  /* Focus positions */
  .thumbnail.center img {
    @apply object-center;
  }

  .thumbnail.top img {
    @apply object-top;
  }

  .thumbnail.bottom img {
    @apply object-bottom;
  }

  .thumbnail.left img {
    @apply object-left;
  }

  .thumbnail.right img {
    @apply object-right;
  }

  .project-meta {
    @apply invisible md:visible fixed pointer-events-none opacity-0 translate-x-1/2 translate-y-1/2 bg-white dark:bg-ink-800 px-4 py-2 z-50 top-0 left-0 rounded-full w-fit flex gap-2;
  }

  @media (pointer: coarse) {
    .project-meta {
      @apply invisible;
    }
  }

  .project-meta > p {
    @apply text-sm lg:text-base leading-tight inline-flex text-black dark:text-paper;
  }

  .project-meta > .project-title {
    @apply font-bold;
  }

  .project-meta > .project-client {
    @apply font-normal;
  }

  /* Single project */
 
  .project-images img {
    @apply w-full rounded-xl mb-4 last:mb-0;
  }

  .project-images > * {
    @apply col-span-full;
  }

  .frame-img {
    @apply col-span-full p-0 md:p-10 lg:p-11 bg-ink-50 dark:bg-ink-900 rounded-xl flex items-center justify-center object-contain max-h-[calc(100svh-1rem)];
  }

  .frame-img p {
    @apply m-0 h-full w-full flex items-center justify-center;
  }

  .frame-img img {
    @apply max-h-full w-auto h-auto object-contain md:rounded-none;
  }

  .sm-img {
    @apply col-span-full md:col-span-2 h-fit;
  }

  .md-img {
    @apply col-span-full md:col-span-3 h-fit;
  }

  .lg-img {
    @apply col-span-full md:col-span-4 h-fit;
  }


  /* Project index */

  .index-single {
    @apply grid gap-x-4 grid-cols-2 lg:grid-cols-4 py-2 border-t first:border-t-0 border-ink-50 dark:border-ink-900 lg:hover:rounded-xl lg:hover:bg-ink-50 lg:hover:dark:bg-ink-900 no-underline lg:hover:px-4 transition-all duration-200 ease-in-out;
  }

  .index-single:hover + .index-single {
    @apply lg:border-paper lg:dark:border-ink-950;
  }

  .index-year {
    @apply hidden sm:inline col-span-1 text-right;
  }

  .index-title {
    @apply font-bold lg:font-normal col-span-2;
  }

  .index-client {
    @apply col-span-2 sm:col-span-1;
  }

  /* News */
  .blog-single > div {
    @apply flex flex-row justify-between py-2 border-t first:border-t-0 border-ink-50 dark:border-ink-900 lg:hover:rounded-xl lg:hover:bg-ink-50 lg:hover:dark:bg-ink-900 no-underline lg:hover:px-4 transition-all duration-200 ease-in-out;
  }

  .blog-single > div:hover + .blog-single > div {
    @apply lg:border-paper lg:dark:border-ink-950;
  }

  .blog-single {
    @apply no-underline;
  }

  /* Form */
  input:placeholder-shown + input[type="submit"] {
    @apply pointer-events-none text-ink-300 dark:text-ink-700;
  }

  input:not(:placeholder-shown) + input[type="submit"], &:-webkit-autofill + input[type="submit"] {
    @apply cursor-pointer text-black dark:text-paper;
  }

  .footer-copyright {
    @apply flex flex-col col-span-1 text-right;
  }

  /* Mux video */
  .video-container {
    @apply rounded-xl overflow-hidden aspect-video;
  }

  mux-player {
    --controls: none;
    --media-object-fit: cover;
  
    inset: 0;
    z-index: 0;
  }
  
  mux-player::part(gesture-layer) {
    display: none;
  }

  /* Add these new custom properties near the top of @layer base */
  :root {
    --nav-height: 0px;
    --nav-offset: var(--nav-height);
  }

  /* Add these new utility classes */
  .sticky-below-nav {
    @apply sticky;
    top: calc(var(--nav-offset) + 1rem);
    transition: top 0.35s ease-in-out;
  }

  .sticky-default {
    @apply sticky top-0;
  }
}
