@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Athletics';
    src: url('/fonts/Athletics-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    text-rendering: optimizeLegibility;
  }
  
  @font-face {
    font-family: 'Athletics';
    src: url('/fonts/Athletics-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    text-rendering: optimizeLegibility;
  }

  @font-face {
    font-family: 'Athletics';
    src: url('/fonts/Athletics-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    text-rendering: optimizeLegibility;
  }
  
  @font-face {
    font-family: 'Athletics';
    src: url('/fonts/Athletics-BoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    text-rendering: optimizeLegibility;
  }
  
  @font-face {
    font-family: 'Athletics';
    src: url('/fonts/Athletics-Black.woff2') format('woff2');
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    text-rendering: optimizeLegibility;
  }
  }