@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Athletics';
    src: url('/fonts/Athletics-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    text-rendering: optimizeLegibility;
  }
  
  @font-face {
    font-family: 'Athletics';
    src: url('/fonts/Athletics-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    text-rendering: optimizeLegibility;
  }

  @font-face {
    font-family: 'Athletics';
    src: url('/fonts/Athletics-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    text-rendering: optimizeLegibility;
  }
  
  @font-face {
    font-family: 'Athletics';
    src: url('/fonts/Athletics-BoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    text-rendering: optimizeLegibility;
  }
  
  @font-face {
    font-family: 'Athletics';
    src: url('/fonts/Athletics-Black.woff2') format('woff2');
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    text-rendering: optimizeLegibility;
  }

  body, .prose p, .prose a {
    @apply font-sans text-base lg:text-lg xl:text-xl leading-normal text-black dark:text-paper tracking-wide;
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'dlig' on, 'ss02' on;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  
  h1, h2, h3, h4,
  .prose h1, .prose h2, .prose h3, .prose h4  {
    @apply font-bold leading-snug text-black dark:text-paper;
  }
  
  h1, .prose h1 {
    @apply text-3xl lg:text-5xl xl:text-6xl 2xl:text-7xl;
  }

  h2, .prose h2 {
    @apply text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl;
  }

  h3, .prose h3 {
    @apply text-lg lg:text-2xl 2xl:text-3xl;
  }

  h4, .prose h4 {
    @apply text-base lg:text-lg xl:text-xl;
  }

  p, blockquote, ul, li, input {
    @apply text-base lg:text-lg xl:text-xl leading-normal;
  }

  a{
    @apply underline underline-offset-4 decoration-ink-200 dark:decoration-ink-800 hover:decoration-black hover:dark:decoration-paper;
  }

  h4 a {
    @apply no-underline;
  }

  h4 a.active {
    @apply text-ink-300 dark:text-ink-700;
  }

  input {
    @apply leading-tight inline-block;
  }

  .small-text {
    @apply text-sm lg:text-base leading-normal;
  }


  /* Nav */
  .menu {
    @apply h-svh hidden bg-blue rounded-xl;
  }

  .menu.open {
    @apply visible block;
  }


  /* Info */
  .mytable {
    @apply col-start-1 md:col-start-3 col-span-full grid grid-cols-6 gap-0 md:gap-4;
  }

  .mytable .small-header {
    @apply font-bold col-span-full sm:col-span-1 mt-2 first:mt-0 sm:mt-0;
  }

  .mytable .note {
    @apply col-start-1 col-span-full sm:col-start-2 md:col-start-3;
  }


  /* Projects */
  .thumbnail-container {
    @apply relative;
  }

  .masonry-sizer, .thumbnail {
    @apply w-full sm:w-[calc(50%-8px)] lg:w-[calc(33.3333333333%-10.6666666667px)] xl:w-[calc(25%-12px)];
  }

  .gutter-sizer {
    @apply w-4;
  }

  .thumbnail {
    @apply break-inside-avoid mb-4 rounded-xl relative z-[1];
  }

  .thumbnail > img {
    @apply rounded-xl group-hover:scale-[0.97] transition-all ease-in-out;
  }

  .thumbnail:hover {
    @apply z-10;
  }

  .project-meta {
    @apply invisible md:visible absolute pointer-events-none bg-white dark:bg-ink-800 px-4 py-2 z-20 top-0 left-0 rounded-full w-fit flex gap-2;
  }

  @media (pointer: coarse) {
    .project-meta {
      @apply invisible;
    }
  }

  .project-meta > p {
    @apply text-sm lg:text-base leading-tight inline-flex text-black dark:text-paper;
  }

  .project-meta > .project-title {
    @apply font-bold;
  }

  .project-meta > .project-client {
    @apply font-normal;
  }

  .masonry-sizer {
    @apply hidden;
  }

  /* Single project */
  .project-images img {
    @apply w-full rounded-xl mb-4 last:mb-0;
  }

  /* Form */
  input:placeholder-shown + input[type="submit"] {
    @apply pointer-events-none text-ink-300 dark:text-ink-700;
  }

  input:not(:placeholder-shown) + input[type="submit"], &:-webkit-autofill + input[type="submit"] {
    @apply cursor-pointer text-black dark:text-paper;
  }
}