---
import Layout from '../layouts/Layout.astro';
import Container from '../layouts/Container.astro';
import Greeting from '../components/Greeting';
import InfoBlock from '../components/InfoBlock.astro';
import Clients from '../components/Clients.astro';
import Mail from '../components/Mail.astro';

import { Image } from 'astro:assets';
import porker from "../assets/Porker.jpg";

const pageTitle = "Info";
---
<Layout pageTitle={pageTitle}>
	<Container class="mt-12 lg:mt-40">
		<Greeting client:load messages={["Hey", "Howdy", "Hey there", "Yo", "Hello there", "Why hello"]} class="mt-auto" />
	</Container>
    <Container>
        <Image src={porker} alt="Porker" class="rounded-xl w-full" loading={'eager'} />
    </Container>
    <Container>
        <InfoBlock header="About" class="border-t-0">
            <p>My work is both character and colour-driven, and whilst graphic, it retains a tactile warmth and quirkiness. I aim to show intimate moments in familiar worlds that have been featured in editorials, book covers, branding and advertising campaigns.</p>
        </InfoBlock>
    </Container>
    <Container>
        <InfoBlock header="Recognition">
            <div class="mytable">
                <p class="small-header">2024</p>
                <p class="note">Society of Illustrators 67</p>

                <p class="small-header">2023</p>
                <p class="note">Society of Illustrators 66</p>
                <p class="note">DI Cross-category Award: (Shortlisted)</p>
                <p class="note">World Illustration Awards: Advertising (Shortlisted)</p>

                <p class="small-header">2022</p>
                <p class="note">World Illustration Awards: Advertising (Longlisted)</p>

                <p class="small-header">2019</p>
                <p class="note">World Illustration Awards: Experimental (Shortlisted)</p>

                <p class="small-header">2018</p>
                <p class="note">World Illustration Awards: Editorial (Shortlisted)</p>
            </div>
        </InfoBlock>
    </Container>
    <Container>
        <InfoBlock header="Representation">
            <p>Synergy Art</p>
            <p class="pb-2">(Worldwide)</p>
            <p><a href="https://synergyart.co.uk/artists/tommy-parker" target="_blank">synergyart.co.uk</a></p>
            <p><Mail email="luke@synergyart.co.uk" subject="Working with Tommy Parker ✏️"/></p>
            <p><a href="tel:+442077204222">+44 (0)20 7720 4222</a></p>
        </InfoBlock>
    </Container>
	<Clients/>
</Layout>