---
import Layout from '../layouts/Layout.astro';
import Container from '../layouts/Container.astro';
import Greeting from '../components/Greeting';
import InfoBlock from '../components/InfoBlock.astro';
import Note from '../components/Note.astro';
import Clients from '../components/Clients.astro';
import Mail from '../components/Mail.astro';
import ProjectVideo from '../components/ProjectVideo.astro';

const pageTitle = "Info";
---
<Layout pageTitle={pageTitle}>
	<Container class="mt-12 lg:mt-40">
		<Greeting client:load messages={["Hey", "Howdy", "Hey there", "Yo", "Hello there", "Why hello"]} className="mt-auto" />
	</Container>
    <Container class="py-0">
        <ProjectVideo
            playbackId="yVM4TTqs1hfiVuztG015Lw3qTOAVWQAcZgiQYEJVqToY"
            aspectRatio="3/1"
            className="video-container aspect-[3/1]"
        />
    </Container>
    <Container class="pt-0">
        <InfoBlock header="About" class="border-t-0">
            <p class="mb-4">I’m an illustrator based on the south coast of Devon, UK. My work is character and colour-driven, with a playful approach that brings a sense of relatability to each piece. Drawing inspiration from cinematic storytelling, I create illustrations that invite viewers into warm and quirky worlds.</p>
            <p class="mb-4">Beyond illustration, I’m always keen to explore other creative avenues – whether through animation or experimenting with technologies.</p>
            <p class="mb-4">My work can be found across the globe in a variety of formats, from books and magazines to branding and advertising campaigns.</p>
            <p>In my free time, you’ll often find me riding my motorcycle in search of a good coffee, bouldering (rather badly), <a href="https://www.instagram.com/_sketchbooksessions/" target="_blank">running drawing clubs</a>, and sampling roast dinners across the West Country.</p>
        </InfoBlock>
    </Container>
    <Container>
        <InfoBlock header="Recognition">
            <div class="mytable">
                <Note header="2024">Society of Illustrators 67</Note>
                <Note header="2023">
                    Society of Illustrators 66<br/>
                    DI Cross-category Award (Shortlisted)<br/>
                    World Illustration Awards: Advertising (Shortlisted)
                </Note>
                <Note header="2022">World Illustration Awards: Advertising (Longlisted)</Note>
                <Note header="2019">World Illustration Awards: Experimental (Shortlisted)</Note>
                <Note header="2018">World Illustration Awards: Editorial (Shortlisted)</Note>
            </div>
        </InfoBlock>
    </Container>
    <Container>
        <InfoBlock header="Representation">
            <p>Synergy Art</p>
            <p class="mb-4">(Worldwide)</p>
            <p><a href="https://synergyart.co.uk/artists/tommy-parker" target="_blank">synergyart.co.uk</a></p>
            <p><Mail email="luke@synergyart.co.uk" subject="Working with Tommy Parker ✏️" class="hover:!decoration-red"/></p>
            <p><a href="tel:+442077204222" class="hover:!decoration-yellow">+44 (0)20 7720 4222</a></p>
        </InfoBlock>
    </Container>
	<Clients/>
</Layout>