---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro';
import Container from '../layouts/Container.astro';
import Subscribe from "../components/Subscribe.astro";

const allPosts = await getCollection("posts");
const sortedPosts = allPosts.sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime());

const pageTitle = "News";
---

<Layout pageTitle={pageTitle}>
	<Container class="mt-12 lg:mt-40 min-h-[50svh] mb-16">
		<h1 class="mb-2">Drawn</h1>
		<div class="grid grid-cols-4 gap-4">
			<div class="col-start-1 col-span-full md:col-span-2 mb-20">
				<p class="pt-2 mb-4 lg:text-balance">A place for news from my studio, covering project and job updates, showing tidbits from behind the scenes, sharing inspiration from other places and people, and posting the occasional piece of writing.</p>
				<Subscribe variant="page"/>
			</div>
			<div class="col-start-1 md:col-start-3 col-span-full">
				{
					sortedPosts.map((post) => (
					<BlogPost url={`/posts/${post.slug}/`} title={post.data.title} pubDate={post.data.pubDate.toString().slice(4,15)}/>
					))
				}
			</div>
		</div>
	</Container>
</Layout>