---
import Layout from "../layouts/Layout.astro"
import Container from "../layouts/Container.astro"
---

<Layout>
    <Container class="bg-gray-light dark:bg-gray-dark">
            <h1 class="text-8xl">Heading 1. Use it to highlight important text or quotes.</h1>
            <h2 class="text-6xl">Heading 2</h2>
            <h3 class="text-4xl">Heading 3</h3>
            <h4 class="text-2xl">Heading 4</h4>
            <h5 class="text-lg">Heading 5</h5>
            <h6 class="text-base">Heading 6</h6>

            <p class="">This is a paragraph. It includes a <a href="#" class="underline text-neutral-950 hover:text-blue-500">link</a> for testing purposes. “Twenty-something showings later, a deal was finally done – or so his real-estate broker thought”. Two industry pros dish on clients who had serious commitment issues.</p>

            <blockquote>
            This is a blockquote. Use it to highlight important text or quotes.
            </blockquote>

            <ul>
            <li>Unordered list item 1</li>
            <li>Unordered list item 2</li>
            <li>Unordered list item 3</li>
            </ul>

            <ol>
            <li>Ordered list item 1</li>
            <li>Ordered list item 2</li>
            <li>Ordered list item 3</li>
            </ol>

            <pre>
            This is a preformatted block of text.
            Use it to showcase code or other preformatted content.
            </pre>

            <code>
            This is inline code.
            </code>

            <hr>

            <p><strong>Bold text</strong> and <em>italic text</em> for emphasis.</p>
    </Container>
</Layout>