---
import Container from '../layouts/Container.astro';
---

<Container class="grid grid-cols-4 bg-ink-50 dark:bg-ink-900 min-h-[50dvh]">
<div class="col-span-full">
    <h1>Let’s keep in touch!</h1>
</div>
<div class="content-end">
    <h6>Follow</h6>
    <p><a href="" target="_blank">Instagram</a></p>
    <p><a href="" target="_blank">Behance</a></p>
</div>
<div class="content-end">
    <h6>Work Enquiries</h6>
    <p><a href="" target="_blank">Synergy Art</a></p>
    <p><a href="" target="_blank">luke@synergyart.co.uk</a></p>
</div>
<div class="content-end">
    <h6>Say hello</h6>
    <p><a href="" target="_blank">me@tommyparker.co.uk</a></p>
</div>
<div class="content-end text-right">
    <p>© Tommy Parker 2025</p>
</div>
</Container>