---
import Container from '../layouts/Container.astro';
import Subscribe from '../components/Subscribe.astro'
const currentYear = new Date().getFullYear();
---

<Container id="contact" class="py-0">
    <div class="grid grid-cols-4 gap-4 p-4 min-h-[75dvh] rounded-xl bg-ink-50 dark:bg-ink-900">
        <div class="grid grid-cols-4 gap-4 col-span-full">
            <div class="col-span-full">
                <h1>Let’s talk!</h1>
            </div>
            <div class="col-span-2 md:col-span-1">
                <h5>For work enquiries</h5>
                <p><a href="#" target="_blank">luke@synergyart.co.uk</a></p>
            </div>
            <div class="col-span-2 md:col-span-1">
                <h5>For everything else</h5>
                <p><a href="#" target="_blank">me@tommyparker.co.uk</a></p>
            </div>
        </div>
        <div class="col-span-full grid grid-cols-4 gap-4">
            <div class="col-span-1">
                <Subscribe/>
            </div>
            <div class="col-span-1">
                <p><a href="#" target="_blank">Work</a></p>
                <p><a href="#" target="_blank">Info</a></p>
            </div>
            <div class="col-span-1">
                <p><a href="#" target="_blank">Instagram</a></p>
                <p><a href="#" target="_blank">Behance</a></p>
            </div>
        </div>
        <div>
            <p>© Tommy Parker {currentYear}</p>
        </div>
        <div>
            <a href="#top"><h6>Back to top</h6></a>
        </div>
    </div>
</Container>