---
import Container from '../layouts/Container.astro';
---

<Container>
    <div>Tommy Parker</div>
</Container>

<Container class="grid grid-cols-4 gap-4">
    <div>
    <a href="/">Work</a>
        <a href="/editorial">Editorial</a>
        <a href="/animation">Animation</a>
        <a href="/branding">Branding</a>
        <a href="/campaign">Campaign</a>
        <a href="/personal">Personal</a>
    </div>
    <div>
        <a href="/info">Info</a>
        <a href="/news">News</a>
    </div>
    <div>
        <h6>Follow</h6>
        <a href="#">Instagram</a>
        <a href="#">Behance</a>
    </div>
</Container>