---

---
<form class="w-full flex"  action="https://buttondown.com/api/emails/embed-subscribe/tommyparker"  method="post"  target="popupwindow"  onsubmit="window.open('https://buttondown.com/tommyparker', 'popupwindow')">
  <input class="px-6 py-2 w-full inline-flex bg-ink-50 dark:bg-ink-900 placeholder:text-ink-100 border border-black dark:border-ink-800 rounded-full" type="email" name="email" placeholder="Email address"/>
  
  <input class="px-6 py-2 bg-ink-50 dark:bg-ink-900 placeholder:text-ink-100 border border-black dark:border-ink-800 rounded-full" type="submit" value="Subscribe" />
</form>
