---

---
<form class="w-full max-w-full md:max-w-[calc(66%-32px)] md:hover:max-w-[calc(66%-16px)] transition-all flex bg-ink-50 dark:bg-ink-900 border border-black dark:border-paper rounded-full"  action="https://buttondown.com/api/emails/embed-subscribe/tommyparker"  method="post"  target="popupwindow"  onsubmit="window.open('https://buttondown.com/tommyparker', 'popupwindow')">
  <input class="px-4 py-2 w-full inline-flex bg-ink-50 dark:bg-ink-900 placeholder:text-ink-300 darK:placeholder:text-ink-700 rounded-tl-full rounded-bl-full" type="email" name="email" placeholder="Email address"/>
  
  <input class="px-4 py-2 cursor-pointer" type="submit" value="→" />
</form>
