---
const { 
  class: additionalClasses, 
  id: additionalId = '',
  animate = true
} = Astro.props;

const containerClass = `p-4 ${animate ? 'animate-fade-up' : ''} ${additionalClasses}`;
---
<div id={`${additionalId}`} class={containerClass}>
    <slot />
</div>

<style>
  .animate-fade-up {
    opacity: 0;
    transform: translate3d(0, 16px, 0);
    transition: opacity 0.3s cubic-bezier(.75,0,.25,1), transform 0.3s cubic-bezier(.75,0,.25,1);
    transition-delay: 0.3s;
  }

  .animate-fade-up.show {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
</style>

<script>
  function initObserver() {
    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('show');
        }
      });
    }, {
      threshold: 0,
      rootMargin: '-100px 0px'
    });

    document.querySelectorAll('.animate-fade-up').forEach((element) => {
      element.classList.remove('show');
      observer.observe(element);
    });
  }

  // Initialize on first load
  initObserver();

  // Reinitialize after view transitions
  document.addEventListener('astro:after-swap', initObserver);
</script>