---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';
const { pageTitle } = Astro.props;

const anim = {
  old: {
    name: 'change',
    duration: '0.3s',
    easing: 'cubic-bezier(0.65,0,0.35,1)',
    direction: 'reverse',
  },
  new: {
    name: 'change',
    delay: '0.35s',
    duration: '0.3s',
    easing: 'cubic-bezier(0.65,0,0.35,1)',
  },
};

const change = {
  forwards: anim,
  backwards: anim,
};

---
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="{themeColour}">
    <title>Tommy Parker — {pageTitle}</title>
    <ClientRouter />
  </head>
  <body class="bg-paper dark:bg-ink-950">
    <Navigation/>
    <div transition:animate={change} class="pt-[var(--nav-height)]">
      <slot/>
    </div>
    <Footer/>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>

<style is:global>
  @keyframes change {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }

  :root {
    --nav-height: 0px;
  }
</style>