---

import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';

const { pageTitle } = Astro.props;

const anim = {
  old: {
    name: 'fadeOut',
    duration: '0.3s',
    easing: 'ease-in-out',
    fillMode: 'forwards',
  },
  new: {
    name: 'fadeIn',
    delay: '0.3s',
    duration: '0.3s',
    easing: 'ease-in-out',
    fillMode: 'backwards',
  }
};

const transitionAnimation = {
  forwards: anim,
  backwards: anim,
};

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" href="/fonts/Athletics-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/Athletics-Italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/Athletics-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/Athletics-BoldItalic.woff2" as="font" type="font/woff2" crossorigin>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="{themeColour}">
    <title>Tommy Parker — {pageTitle}</title>
    <ClientRouter />
  </head>
  <body class="bg-paper dark:bg-ink-950">
    <Navigation transition:persist/>
    <div class="pt-[var(--nav-height)]">
      <slot/>
    </div>
    <Footer/>
    <div class="exit-container">
      <slot name="fixed" />
    </div>
  </body>
  <script>
    import '@mux/mux-player';
  </script>
</html>

<style is:global>
  :root {
    --nav-height: 0px;
  }
</style>