---
import Container from './Container.astro';
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
---
<Layout>
    <Container>
      <div class="grid grid-cols-4 gap-2 md:gap-4">
        <div class="col-start-1 col-span-full md:col-span-2">
          <h1>{frontmatter.title}</h1>  
          <p>{frontmatter.pubDate.toString().slice(4,15)}</p>
        </div>
        <div class="prose col-span-full col-start-1 md:col-start-3 md:col-span-2">
          <slot />
        </div>
     </div>
    </Container>
</Layout>