---
import Layout from './Layout.astro';
import Container from '../layouts/Container.astro';

const { frontmatter } = Astro.props;

---
<Layout>
    <Container>
        <div>
            <h4>About</h4>
            <slot/>
        </div>
        <div>
            <div >
                <h4>Project</h4>
                <p>{frontmatter.title}</p>
            </div>
            <div>
                <h4>Art direction</h4>
                <p>{frontmatter.artDirection}</p>
            </div>
            <div>
                <h4>Client</h4>
                <p>{frontmatter.client}</p>
            </div>
        </div>
    </Container>
</Layout>