---
import Layout from './Layout.astro';
import Container from '../layouts/Container.astro';

const { frontmatter } = Astro.props;

---
<Layout>
    <Container class="grid grid-cols-4 gap-4">
        <div class="col-span-2">
            <h4>About</h4>
            <slot/>
        </div>
        <div class="col-span-full col-start-1 md:col-start-3 md:col-span-2">
            <div class="mytable">
                <p class="small-header">Project</p>
                <p class="note">{frontmatter.title}</p>

                <p class="small-header">Direction</p>
                <p class="note">{frontmatter.artDirection}</p>

                <p class="small-header">Client</p>
                <p class="note">{frontmatter.client}</p>
            </div>
        </div>
    </Container>
</Layout>